<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Proyecto Django</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'acerca_de' %}">Acerca de</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Registro</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
          </li>

          <li class="nav-item">
            <form id="logout-form" method="post" action="{% url 'logout' %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-link nav-link" style="display:inline; padding:0; border:none; background:none;">
                Salir
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
</nav>